* {
  box-sizing: border-box;
}

:root {
    --bg-color: #00008B;
    --bg-color1: #D3D3D3;
    --bg-color2: #0000CD;
    --text-color: #FFFFFF;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

header, footer {
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
}

h2 {
   text-align: center;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin-right: 0.625rem;
}

.menu a {
    display: block;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    width: 9.375rem;
    padding: 0.625rem 1.25rem;
    color: var(--bg-color2);
    border-radius: 1.875rem;
    background-color: var(--bg-color1);
    transition: width 2s;
}

a:hover{
    width: 12.5rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    border: 0.0625rem solid #ddd;
    padding: 0.5rem;
    text-align: center;
}

table thead {
    background-color: var(--bg-color);
    color: var(--text-color);
}

table tbody tr:nth-child(even) {
    background-color: #D3D3D3;
}

table tfoot {
    background-color: var(--bg-color);
    font-weight: bold;
    color: var(--text-color);
}

@media (prefers-color-scheme: dark) {

    :root {
        --bg-color: #121212;
        --bg-color1: #1E1E1E;
        --bg-color2: #6495ED;
        --text-color: #FFFFFF;
    }

    body {
        background-color: var(--bg-color);
        color: var(--text-color);
    }

    .menu a {
        background-color: var(--bg-color1);
        color: var(--text-color);
    }

    table th,
    table td {
        border: 0.0625rem solid #444;
    }

    table tbody tr:nth-child(even) {
        background-color: #2A2A2A;
        color: var(--text-color);
    }

    table tbody tr:nth-child(odd) {
        background-color: #1A1A1A;
        color: var(--text-color);
    }

    table thead,
    table tfoot {
        background-color: var(--bg-color2);
        color: var(--text-color);
    }

}
